/* general styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --pink_color: #fb2e86;
  --navy_color: #0d0e43;
  --footer_text_color: #8a8fb9;
}

body {
  height: 6000px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1300px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* header section style */

.header {
  position: fixed;
  width: 100%;
}
.header .container {
  margin-top: 47px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav ul a {
  text-transform: capitalize;
  color: var(--navy_color);
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 20px;
  transition: ease-out 0.5s;
}

.nav ul a:hover {
  text-shadow: 1px 1px 13px #fb2e86;
  font-size: 20px;
}

#home {
  color: var(--pink_color);
}

.search_form form {
  display: flex;
}

.search_form input {
  border: 2px solid #e7e6ef;
  width: 266px;
}

.search_form button {
  border: 0;
  background-color: var(--pink_color);
  padding: 8px 17px;
}

.menu {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 990px) {
  .search_form,
  .nav {
    display: none;
  }
  .menu {
    display: block;
  }
}

/* footer section styling */

.footer {
  background-color: #eeeffb;
  padding: 100px 0;
}

.footer-left {
  width: calc((100% - 10px) / 3);
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "lato", sans-serif;
}
.footer-right {
  width: 60%;
}
.footer .address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add_details {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer .address form {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px;
  padding: 2px;
}
.footer .address input {
  padding: 12px 16px;
  color: var(--footer_text_color);
  border: 0;
}
.address input::placeholder,
.footer p {
  color: var(--footer_text_color);
}

.footer .address button {
  border: 0;
  padding: 8px 17px;
  width: 135px;
  background-color: var(--pink_color);
  color: white;
  font-family: "roboto", sans-serif;
  font-weight: medium;
}

.footer-right .row {
  align-items: flex-start;
}
.footer-right h3 {
  font-family: "Josefin Sans", sans-serif;
}
.footer-list {
  width: calc((100%) / 3);
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer-list li a {
  color: var(--footer_text_color);
  text-transform: capitalize;
  font-family: "lato", sans-serif;
}

@media screen and (min-width: 680px) and (max-width: 990px) {
  .footer-left,
  .footer-right {
    width: 100%;
  }
  .footer-right .row {
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
  }
  .footer-list {
    width: calc((100% - 100px)/2);
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 680px) {
   .footer-left,
  .footer-right {
    width: 100%;
  }
  .footer-right .row {
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
  }
  .footer-list {
    width: 100%;
    justify-content: space-between;
  }
  
}