/* general styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --pink_color: #fb2e86;
  --navy_color: #0d0e43;
  --footer_text_color: #8a8fb9;
  --dark_blue_color: #151875;
}

body {
  height: 6000px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1300px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.txt-dark-blue {
  color: var(--dark_blue_color) !important;
}
/* header section style */

.header {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  z-index: 1000;
}
.header .container {
  margin-top: 47px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav ul a {
  text-transform: capitalize;
  color: var(--navy_color);
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 20px;
  transition: ease-out 0.5s;
}

.nav ul a:hover {
  text-shadow: 1px 1px 13px #fb2e86;
  font-size: 20px;
}

#home {
  color: var(--pink_color);
}

.search_form form {
  display: flex;
}

.search_form input {
  border: 2px solid #e7e6ef;
  width: 266px;
}

.search_form button {
  border: 0;
  background-color: var(--pink_color);
  padding: 8px 17px;
}

.menu {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 990px) {
  .search_form,
  .nav {
    display: none;
  }
  .menu {
    display: block;
  }
}
/* hero section style */

.hero {
  background-color: #f2f0ff;
  padding: 25px 0;
}
.hero-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: calc((100% - 110px) / 2);
}
.hero-details h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 53px;
  font-weight: 700;
  color: black;
  line-height: 170.5%;
  letter-spacing: 1.5px;
}
.hero-details p {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #8a8fb9;
  letter-spacing: 0;
  width: 70%;
}
.hero-details .p-pink {
  color: var(--pink_color);
}
.hero-details a {
  background-color: var(--pink_color);
  color: white;
  padding: 15px 30px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  border-radius: 2px;
  letter-spacing: 2px;
  width: max-content;
}

.hero-image {
  width: calc((100% - 20px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image img {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 990px) {
  .hero .row {
    flex-direction: column;
    gap: 30px;
  }
  .hero-details,
  .hero-image {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .hero-details p {
    width: 100%;
  }
  .hero-details h1 {
    font-size: 36px;
  }
}
/* تأكدي من الخطوط المستخدمة  */

/* products section */

.products,
.trending,
.top_products {
  padding: 50px 0;
}

.products h2,
.trending h2,
.top_products h2 {
  font-family: "josefin sans", sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: #1a0b5b;
  text-align: center;
  margin-bottom: 48px;
  text-transform: capitalize;
}

.products .row,
.trending .row,
.top_products .row {
  gap: 30px;
}

.product-item,
.trending .product,
.top_products .product {
  width: calc((100% - 90px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 17px;
  transition: all 0.3s linear;
}

/* .product-item .product-image {
  height: 275px;
} */
.product-image {
  width: 100%;
  background-color: #f6f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  position: relative;
  transition: all 0.3s linear;
}
.product-image .shop_icons {
  width: 100%;
  visibility: hidden;
  display: flex;
  gap: 10px;
  justify-content: left;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 10px;
}
.shop_icons i {
  background: linear-gradient(
    0,
    rgba(19, 137, 255, 1) 0%,
    rgba(29, 180, 231, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.product-item .product-image img {
  max-height: 150px;
}
.product .product-image {
  height: 244px;
}
.product-image .shop_icons:hover {
  cursor: pointer;
}

.product-image a {
  background-color: #08d15f;
  color: white;
  padding: 8px 13px;
  font-family: "josefin sans", sans-serif;
  font-size: 12px;
  border-radius: 2px;
  text-transform: capitalize;
  visibility: hidden;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-item h3,
.product h3 {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--pink_color);
}

.product-colors {
  display: flex;
  gap: 5px;
}

.product-colors button {
  width: 14px;
  height: 4px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.light-green {
  background-color: #05e6b7;
}
.light-pink {
  background-color: #f701a8;
}
.blue {
  background-color: #00009d;
}

.product-item span {
  font-family: "Josefin sans", sans-serif;
  font-size: 14px;
  text-align: center;
  /* color: var(--dark_blue_color); */
}
.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 12px;
}
.new-price {
  font-size: 14px;
}

.old-price {
  text-decoration: line-through;
  color: rgba(21, 24, 117, 0.3);
  font-size: 12px;
}

.trending .product {
  padding: 12px 12px 32px 12px;
}

.product-item:hover {
  background-color: #2f1ac4 !important;
}
.product-item:hover span,
.product-item:hover h3 {
  color: white !important;
}

.product-item:hover .blue {
  background-color: #ffeac1;
}

.product-item:hover .product-image a,
.product-item:hover .product-image .shop_icons,
.product:hover .product-image a {
  visibility: visible;
  /* opacity: 1; */
}
.top_products .product {
  box-shadow: none;
}
.product-name {
  font-size: 20px;
  word-spacing: 6px;
  text-transform: capitalize;
}
.top_products .product-image {
  border-radius: 50%;
}
.top_products .product:hover .product-image {
  box-shadow: -12px 4px 0 0 #9574e5, 0 0 40px rgba(255, 255, 255, 0.5);
}
/* media queries for products section */
@media screen and (min-width: 680px) and (max-width: 990px) {
  .products h2,
  .trending h2,
  .top_products h2 {
    font-size: 36px;
  }
  .product-item,
  .trending .product,
  .top_products h2 {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .products h2,
  .trending h2,
  .top_products h2 {
    font-size: 28px;
  }
  .product-item,
  .trending .product,
  .top_products h2 {
    width: 100%;
  }
}

/* services section  */

.services {
  text-align: center;
  padding: 60px 0;
}

.services h2 {
  /* color: var(--dark_blue_color); */
  font-size: 42px;
  font-family: "Josefin sans", sans-serif;
}

.services .row {
  gap: 28px;
  padding: 55px 0;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: calc((100% - 84px) / 4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 45px 26px;
}

.service h3 {
  /* color: var(--dark_blue_color); */
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
}
.service p {
  color: rgba(26, 11, 91, 0.3);
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: bold;
  line-height: 25.6px;
}

@media screen and (min-width: 680px) and (max-width: 990px) {
  .services h2 {
    font-size: 36px;
  }
  .service {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .services h2 {
    font-size: 28px;
  }
  .service {
    width: 100%;
  }
}

/* shop now section */

.shopNow {
  background-image: url("./../images/shopNow.png");
  height: 460px;
  margin-bottom: 50px;
}
.shopNow .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopNow h2 {
  /* color: var(--dark_blue_color); */
  font-family: "josefin sans", sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 155%;
}
.shopNow .newsDetails {
  width: 60%;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.shopNow a {
  background-color: var(--pink_color);
  padding: 15px 30px;
  color: white;
  border-radius: 2px;
  font-family: "josefin sans", sans-serif;
  font-size: 17px;
  width: max-content;
}

/* footer section styling */

.footer {
  background-color: #eeeffb;
  padding: 100px 0;
}

.footer-left {
  width: calc((100% - 10px) / 3);
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "lato", sans-serif;
}
.footer-right {
  width: 60%;
}
.footer .address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add_details {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer .address form {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px;
  padding: 2px;
}
.footer .address input {
  padding: 12px 16px;
  color: var(--footer_text_color);
  border: 0;
}
.address input::placeholder,
.footer p {
  color: var(--footer_text_color);
}

.footer .address button {
  border: 0;
  padding: 8px 17px;
  width: 135px;
  background-color: var(--pink_color);
  color: white;
  font-family: "roboto", sans-serif;
  font-weight: medium;
}

.footer-right .row {
  align-items: flex-start;
}
.footer-right h3 {
  font-family: "Josefin Sans", sans-serif;
}
.footer-list {
  width: calc((100%) / 3);
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer-list li a {
  color: var(--footer_text_color);
  text-transform: capitalize;
  font-family: "lato", sans-serif;
}

@media screen and (min-width: 680px) and (max-width: 990px) {
  .footer-left,
  .footer-right {
    width: 100%;
  }
  .footer-right .row {
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
  }
  .footer-list {
    width: calc((100% - 100px) / 2);
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 680px) {
  .shopNow h2 {
    font-size: 28px;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }
  .footer-right .row {
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
  }
  .footer-list {
    width: 100%;
    justify-content: space-between;
  }
}
