/* general styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --pink_color: #fb2e86;
  --navy_color: #0d0e43;
  --footer_text_color: #8a8fb9;
  --dark_blue_color: #151875;
}

body {
  height: 6000px;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: auto;
  max-width: 1300px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* header section style */

.header {
  position: fixed;
  width: 100%;
}
.header .container {
  margin-top: 47px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.nav ul a {
  text-transform: capitalize;
  color: var(--navy_color);
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 20px;
  transition: ease-out 0.5s;
}

.nav ul a:hover {
  text-shadow: 1px 1px 13px #fb2e86;
  font-size: 20px;
}

#home {
  color: var(--pink_color);
}

.search_form form {
  display: flex;
}

.search_form input {
  border: 2px solid #e7e6ef;
  width: 266px;
}

.search_form button {
  border: 0;
  background-color: var(--pink_color);
  padding: 8px 17px;
}

.menu {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 990px) {
  .search_form,
  .nav {
    display: none;
  }
  .menu {
    display: block;
  }
}

/* shop now section */

.shopNow {
  background-image: url("./../images/shopNow.png");
  height: 460px;
  margin-bottom: 50px;
}
.shopNow .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopNow h2 {
  color: var(--dark_blue_color);
  font-family: "josefin sans", sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 155%;
}
.shopNow .newsDetails {
  width: 60%;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.shopNow a {
  background-color: var(--pink_color);
  padding: 15px 30px;
  color: white;
  border-radius: 2px;
  font-family: "josefin sans", sans-serif;
  font-size: 17px;
  width: max-content;
}

/* footer section styling */

.footer {
  background-color: #eeeffb;
  padding: 100px 0;
}

.footer-left {
  width: calc((100% - 10px) / 3);
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "lato", sans-serif;
}
.footer-right {
  width: 60%;
}
.footer .address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add_details {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer .address form {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 3px;
  padding: 2px;
}
.footer .address input {
  padding: 12px 16px;
  color: var(--footer_text_color);
  border: 0;
}
.address input::placeholder,
.footer p {
  color: var(--footer_text_color);
}

.footer .address button {
  border: 0;
  padding: 8px 17px;
  width: 135px;
  background-color: var(--pink_color);
  color: white;
  font-family: "roboto", sans-serif;
  font-weight: medium;
}

.footer-right .row {
  align-items: flex-start;
}
.footer-right h3 {
  font-family: "Josefin Sans", sans-serif;
}
.footer-list {
  width: calc((100%) / 3);
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-list ul {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer-list li a {
  color: var(--footer_text_color);
  text-transform: capitalize;
  font-family: "lato", sans-serif;
}

@media screen and (min-width: 680px) and (max-width: 990px) {
  .footer-left,
  .footer-right {
    width: 100%;
  }
  .footer-right .row {
    flex-direction: row;
    gap: 50px;
    margin-top: 30px;
  }
  .footer-list {
    width: calc((100% - 100px) / 2);
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 680px) {

  .shopNow h2{
    font-size: 28px;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }
  .footer-right .row {
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
  }
  .footer-list {
    width: 100%;
    justify-content: space-between;
  }
}

/* products section */

.products {
  margin-top: 120px;
  margin-bottom: 120px;
}

.products h2 {
  font-family: "josefin sans", sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: #1a0b5b;
  text-align: center;
  margin-bottom: 48px;
  text-transform: capitalize;
}

.products .row {
  gap: 30px;
}

.product-item {
  width: calc((100% - 90px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 17px;
  transition: all 0.3s linear;
}
.product-view {
  width: 100%;  
  height: 275px;

  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  
  padding: 10px;
}
.product-view .shop_icons {
  width: 100%;
  visibility: hidden;
  display: flex;
  gap: 10px;
  justify-content: left;
  align-items: center;
}
.product-view .shop_icons:hover {
  cursor: pointer;
}

.product-view a {
  background-color: #08d15f;
  color: white;
  padding: 8px 13px;
  margin-bottom: 10px;
  font-family: "josefin sans", sans-serif;
  font-size: 12px;
  border-radius: 2px;
  text-transform: capitalize;
  visibility: hidden;
  /* opacity: 0; */
}
.product-image .shop_icons {
  display: flex;
  gap: 10px;
  align-items: left;
  visibility: hidden;
}

.product-image .shop_icons{
  display: flex;
  gap: 10px;
  align-items: left;
}
.product-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-item h3 {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--pink_color);
}

.product-colors {
  display: flex;
  gap: 5px;
}

.product-colors button {
  width: 14px;
  height: 4px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.light-green {
  background-color: #05e6b7;
}
.light-pink {
  background-color: #f701a8;
}
.blue {
  background-color: #00009d;
}

.product-item span {
  font-family: "Josefin sans", sans-serif;
  font-size: 14px;
  text-align: center;
  color: var(--dark_blue_color);
}

.product-item:hover {
  background-color: #2f1ac4 !important;
}
.product-item:hover span,
.product-item:hover h3 {
  color: white;
}

.product-item:hover .blue {
  background-color: #ffeac1;
}

.product-item:hover .product-view a,
.product-item:hover .shop_icons {
  visibility: visible;
  /* opacity: 1; */
}
/* media queries for products section */
@media screen and (min-width: 680px) and (max-width: 990px) {
  .product-item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 320px) and (max-width: 680px) {
  .product-item {
    width: 100%;
  }
}
